<!DOCTYPE html>
<html lang="kor"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
          content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>24길드 | 숙제 현황</title>
</head>

<body>
<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav">
            <div th:replace="~{frag/header::header}"></div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside th:replace="~{frag/sidebar::sidebar}"></aside>
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-500 flex-1 p-3 overflow-hidden">
                <div class="flex flex-col">
                    <!--개별 숙제 관리 테이블-->
                    <div class="font-jua flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                            <div class="font-notoSansKR-700 text-lg bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                <span class="pr-2">내 개별 숙제 관리</span>
                                <button data-modal='addHomeworkModal'
                                        class="modal-trigger bg-blue-500 hover:bg-blue-800 text-white font-light py-1 px-2 rounded-full">
                                    <i class="fas fa-plus-square px-1"></i><span class="px-1">추가</span>
                                </button>
                            </div>
                            <div class="p-3">
                                <table class="table-responsive w-full rounded">
                                    <thead>
                                    <tr>
                                        <th class="border w-1/4 px-4 py-2">숙제</th>
                                        <th class="border w-1/12 px-4 py-2">대상</th>
                                        <th class="border w-1/12 px-4 py-2">단위 달성량</th>
                                        <th class="border w-1/12 px-4 py-2">단위 초기화</th>
                                        <th class="border w-1/12 px-4 py-2">최대 달성량</th>
                                        <th class="border w-1/12 px-4 py-2">전체 초기화</th>
                                        <th class="border w-1/12 px-4 py-2">-</th>
                                    </tr>
                                    </thead>
                                    <tbody id="myHomeworkTableBody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="p-3">
                                <div id="myHomeworkNavi" class="flex flex-row items-center justify-center">
                                    <button class="bg-teal-200 hover:bg-teal-500 text-teal-900 font-bold py-2 px-4 rounded-l"
                                            id="myHomeworkPrevBtn" onclick="getMyhomeworkByPageNum(-2)">
                                        Prev
                                    </button>
                                    <button class="bg-teal-200 hover:bg-teal-500 text-teal-900 font-bold py-2 px-4 rounded-r"
                                            id="myHomeworkNextBtn" onclick="getMyhomeworkByPageNum(-1)">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/개별 숙제 관리 테이블-->
                </div>
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer th:replace="~{frag/footer}"></footer>
        <!--/footer-->

    </div>

</div>

<!-- Centered With a Form Modal -->
<div id='addHomeworkModal' class="modal-wrapper">
    <div class="overlay close-modal"></div>
    <div class="modal modal-centered">
        <div class="modal-content shadow-lg p-5">
            <div class="border-b p-2 pb-3 pt-0 mb-4">
                <div class="flex justify-between items-center">
                    숙제 추가
                    <span class='close-modal cursor-pointer px-3 py-1 rounded-full bg-gray-100 hover:bg-gray-200'>
                        <i class="fas fa-times text-gray-700"></i>
                    </span>
                </div>
            </div>
            <!-- Modal content -->
            <form id='homeworkAddForm' class="w-full">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1" for="homeworkName">
                            숙제 명
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                id="homeworkName" name="homeworkName" type="text" placeholder="숙제 명" required="required">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1" for="homeworkTargetTypeComboBox">
                            대상
                        </label>
                        <div class="relative">
                            <select class="block appearance-none w-full bg-grey-200 border border-grey-200 text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="homeworkTargetTypeComboBox" name="homeworkTargetType">
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-grey-darker">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1" for="unitGoal">
                            단위 달성량
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="unitGoal" name="unitGoal" type="number" placeholder="단위 달성량" required="required">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1" for="maxGoal">
                            최대 달성량
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="maxGoal" name="maxGoal" type="number" placeholder="최대 달성량" required="required">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1" for="unitResetPeriodComboBox1">
                            단위 초기화 기간1
                        </label>
                        <div class="relative">
                            <select class="block appearance-none w-full bg-grey-200 border border-grey-200 text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="unitResetPeriodComboBox1">
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-grey-darker">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1" for="unitResetPeriodComboBox2">
                            단위 초기화 기간2
                        </label>
                        <div class="relative">
                            <select
                                    class="block appearance-none w-full bg-grey-darker border border-grey-200 text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="unitResetPeriodComboBox2" disabled="disabled">
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-grey-darker">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1" for="allResetPeriodComboBox1">
                            전체 초기화 기간1
                        </label>
                        <div class="relative">
                            <select class="block appearance-none w-full bg-grey-200 border border-grey-200 text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="allResetPeriodComboBox1">
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-grey-darker">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1" for="allResetPeriodComboBox2">
                            전체 초기화 기간2
                        </label>
                        <div class="relative">
                            <select
                                    class="block appearance-none w-full bg-grey-darker border border-grey-200 text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                    id="allResetPeriodComboBox2" disabled="disabled">
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-grey-darker">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <button class='bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded'
                            type="submit">
                        추가
                    </button>
                    <span class='close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded'>
                        취소
                    </span>
                </div>
                <input id="homeworkType" name="homeworkType" type="hidden", value="MAPLE_STORY_2">
            </form>
        </div>
    </div>
</div>
<script src="/static/script/main.js"></script>
</body>
<script>
    let currentHomeworkPage = 0;
    let totalPageNum = 0;
    const defaultHomeworkPageSize = 2;

    window.addEventListener('load', function () {
        getHomeworkTargetTypeList(initHomeworkTargetTypeComboBox);
        let unitResetPeriodComboBox1 = $("#unitResetPeriodComboBox1");
        setPeriodComboBox1(unitResetPeriodComboBox1);
        addPeriodComboBox2Listener(unitResetPeriodComboBox1, $("#unitResetPeriodComboBox2"));
        let allResetPeriodComboBox1 = $("#allResetPeriodComboBox1");
        setPeriodComboBox1(allResetPeriodComboBox1);
        addPeriodComboBox2Listener(allResetPeriodComboBox1, $("#allResetPeriodComboBox2"));

        refreshMyHomeworkList(currentHomeworkPage);
    });


    // homeworkList 관련
    function refreshMyHomeworkList(page) {
        let myHomeworkTableBody = $('#myHomeworkTableBody');
        myHomeworkTableBody.empty();
        getMyHomeworkList(page, function (res) {
            console.log(res);
            for (let homework of res.content) {
                myHomeworkTableBody.append(createMyHomeworkTableRowHTML(homework));
            }
            createMyHomeworkPageNavi(res);
        });
    }

    function createMyHomeworkTableRowHTML(homework) {
        let html = '<tr>';
        html += '<td class="border px-4 py-2">'+homework.homeworkName+'</td>';

        let homeworkTargetType = homework.homeworkTargetType;
        if (homeworkTargetType === 'ACCOUNT') {
            html += '<td class="border px-4 py-2">계정</td>';
        } else if (homeworkTargetType === 'CHARACTER') {
            html += '<td class="border px-4 py-2">캐릭터</td>';
        } else {
            html += '<td class="border px-4 py-2"></td>';
        }

        html += '<td class="border px-4 py-2">'+homework.unitGoal+'</td>';
        html += '<td class="border px-4 py-2">'+convertPeriodCodeToText(homework.unitResetPeriod)+'</td>';
        html += '<td class="border px-4 py-2">'+homework.maxGoal+'</td>';
        html += '<td class="border px-4 py-2">'+convertPeriodCodeToText(homework.allResetPeriod)+'</td>';
        html += '<td class="border px-4 py-2"></td>';

        return html;
    }

    function convertPeriodCodeToText(periodCode) {
        if (isEmpty(periodCode) || periodCode.length === 0) {
            return '';
        }

        let firstChar = periodCode.substr(0, 1);
        if (firstChar === 'n') {
            return '없음';
        } else if (firstChar === 'd') {
            return '매일';
        } else if (firstChar === 'w') {
            return '매주 ' + convertWeekKor(periodCode.split('_')[1]);
        } else if (firstChar === 'm') {
            return '매달 ' + periodCode.split('_')[1] + '일';
        }

        return '';
    }

    function convertWeekKor(weekEn) {
        switch (weekEn) {
            case 'monday':
                return '월요일';
            case 'tuesday':
                return '화요일';
            case 'wednesday':
                return '수요일';
            case 'thursday':
                return '목요일';
            case 'friday':
                return '금요일';
            case 'saturday':
                return '토요일';
            case 'sunday':
                return '일요일';
            default:
                return '';
        }
    }

    function createMyHomeworkPageNavi(pageable) {
        totalPageNum = pageable.totalPages;
        currentHomeworkPage = pageable.number;

        $('#myHomeworkNavi').children().remove('.rounded-l-none');

        let page;
        for (page = pageable.totalPages; page > 0; page--) {
            $('#myHomeworkPrevBtn').after(createMyHomeworkPageBtnHTML(page, pageable.number))
        }
    }

    function createMyHomeworkPageBtnHTML(page, currentNumber) {
        let html = '<button class="';
        if (page === currentNumber+1) {
            html += 'bg-teal-400';
        } else {
            html += 'bg-teal-200';
        }
        html += ' hover:bg-teal-500 text-teal-900 font-bold py-2 px-4 rounded-l-none" id="myHomeworkPageBtn';
        html += page;
        html += '" onclick="getMyhomeworkByPageNum(';
        html += page;
        html += ')">';
        html += page;
        html += '</button>';
        return html;
    }

    function getMyhomeworkByPageNum(page) {
        if (page === -2) {
            if (currentHomeworkPage === 0) {
                return;
            }
            currentHomeworkPage -= 1;
        } else if (page === -1) {
            if (currentHomeworkPage+1 === totalPageNum) {
                return;
            }
            currentHomeworkPage += 1;
        } else {
            currentHomeworkPage = page-1;
        }
        refreshMyHomeworkList(currentHomeworkPage);
    }




    // 숙제추가 모달 관련
    $("#homeworkAddForm").on('submit', function (event) {
        event.preventDefault();
        postHomework(
            $('#homeworkName').val(),
            $('#homeworkType').val(),
            $('#homeworkTargetTypeComboBox option:selected').val(),
            $('#unitGoal').val(),
            createPeriodData($('#unitResetPeriodComboBox1 option:selected').val(), $('#unitResetPeriodComboBox2 option:selected').val()),
            $('#maxGoal').val(),
            createPeriodData($('#allResetPeriodComboBox1 option:selected').val(), $('#allResetPeriodComboBox2 option:selected').val()),
            function (res) {
                console.log(res);
                clearAddHomeworkModalForm();
                closeModal('addHomeworkModal');
                refreshMyHomeworkList(currentHomeworkPage);
            }
        );
    });

    function initHomeworkTargetTypeComboBox(homeworkTargetTypeList) {
        for (let homeworkTargetType of homeworkTargetTypeList) {
            $("#homeworkTargetTypeComboBox").append("<option value="+ homeworkTargetType.code +">" + homeworkTargetType.korName + "</option>");
        }
    }

    function addPeriodComboBox2Listener(comboBox1, comboBox2) {
        comboBox1.on('change', function () {
            setPeriodComboBox2(comboBox1, comboBox2);
        });
    }

    function setPeriodComboBox1(comboBox1) {
        comboBox1.append("<option value=none>없음</option>");
        comboBox1.append("<option value=day>매일</option>");
        comboBox1.append("<option value=week>매주</otion>");
        comboBox1.append("<option value=month>매월</option>");
    }

    function setPeriodComboBox2(comboBox1, comboBox2) {
        comboBox2.empty();
        if ('disabled' === comboBox2.attr('disabled')) {
            comboBox2.removeAttr('disabled');
            comboBox2.removeClass('bg-grey-darker');
        }
        let box1Val = comboBox1.val();
        if (box1Val === 'none') {
            comboBox2.addClass('bg-grey-darker');
            comboBox2.attr('disabled', 'disabled');
        } else if (box1Val === 'day') {
            comboBox2.addClass('bg-grey-darker');
            comboBox2.attr('disabled', 'disabled');
        } else if (box1Val === 'week') {
            comboBox2.append("<option value=monday>월요일</otion>");
            comboBox2.append("<option value=tuesday>화요일</otion>");
            comboBox2.append("<option value=wednesday>수요일</otion>");
            comboBox2.append("<option value=thursday>목요일</otion>");
            comboBox2.append("<option value=friday>금요일</otion>");
            comboBox2.append("<option value=saturday>토요일</otion>");
            comboBox2.append("<option value=sunday>일요일</otion>");
        } else if (box1Val === 'month') {
            let i;
            for (i = 1; i <= 31; i++) {
                comboBox2.append("<option value="+i+">"+i+"일</otion>");
            }
        }
    }

    function createPeriodData(box1Val, box2Val) {
        if (box1Val === 'none') {
            return 'n';
        } else if (box1Val === 'day') {
            return 'd';
        } else if (box1Val === 'week') {
            return 'w_' + box2Val;
        } else {
            return 'm_' + box2Val;
        }
    }

    function clearAddHomeworkModalForm() {
        $('#homeworkName').val('');
        $('#unitGoal').val('');
        $('#maxGoal').val('');
    }



    // ajax
    function getHomeworkTargetTypeList(doneCallback) {
        $.ajax({
            url: "/rest/homework/targetType/list",
            method: "GET",
            dataType: "json"
        }).done(doneCallback).fail(function (jqXHR,status,error) {
            commonAjaxFailConsoleLog(jqXHR,status,error);
        })
    }

    function getMyHomeworkList(page, doneCallback) {
        $.ajax({
            url: "/rest/homework?size="+defaultHomeworkPageSize+"&page="+page,
            method: "GET",
            dataType: "json"
        }).done(doneCallback).fail(function (jqXHR,status,error) {
            commonAjaxFailConsoleLog(jqXHR,status,error);
        })
    }

    function postHomework(
        homeworkName, homeworkType, homeworkTargetType, unitGoal, unitResetPeriod, maxGoal, allResetPeriod, doneCallback) {
        let reqPostHomework = {};
        reqPostHomework.homeworkName = homeworkName;
        reqPostHomework.homeworkType = homeworkType;
        reqPostHomework.homeworkTargetType = homeworkTargetType;
        reqPostHomework.unitGoal = unitGoal;
        reqPostHomework.unitResetPeriod = unitResetPeriod;
        reqPostHomework.maxGoal = maxGoal;
        reqPostHomework.allResetPeriod = allResetPeriod;
        $.ajax({
            url: "/rest/homework",
            method: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(reqPostHomework)
        }).done(doneCallback).fail(function (jqXHR,status,error) {
            commonAjaxFailConsoleLog(jqXHR,status,error);
        })
    }
</script>
</html>
