<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block"
       th:fragment="sidebar">

<ul class="list-reset flex flex-col font-nanumPenScript">
  <li id="sb_li_dashboard" class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
    <a href="index.html"
       class="font-hairline hover:font-extrabold text-2xl text-nav-item no-underline">
      <i class="fas fa-chart-pie float-left mx-2"></i>
      현황판
      <span><i class="fas fa-angle-right float-right"></i></span>
    </a>
  </li>
  <li id="sb_li_character_list" class="w-full h-full py-3 px-2 border-b border-light-border">
    <a href="/character/list"
       class="font-hairline hover:font-extrabold text-2xl text-nav-item no-underline">
      <i class="fas fa-id-card float-left mx-2"></i>
      캐릭터
      <span><i class="fa fa-angle-right float-right"></i></span>
    </a>
  </li>
  <li id="sb_li_homework" class="w-full h-full py-3 px-2 border-b border-light-border">
    <span onclick="toggleSidebarHomework()"
          class="cursor-pointer font-hairline hover:font-extrabold text-2xl text-nav-item no-underline">
      <i class="fas fa-tasks float-left mx-2"></i>
      숙제
      <span class="font-hairline hover:font-extrabold text-2xl text-nav-item no-underline">
        <i id="sb_i_arrow_homework" class="fa fa-angle-right float-right"></i>
      </span>
    </span>
    <ul class="list-reset -mx-2 bg-white-medium-dark">
      <li id="sb_li_homework_list" class="hidden border-t mt-2 border-light-border w-full h-full px-2 py-3">
        <a href="/homework/list"
           class="font-hairline hover:font-extrabold mx-4 text-xl text-nav-item no-underline">
          숙제 관리
          <span><i class="fa fa-angle-right float-right"></i></span>
        </a>
      </li>
      <li id="sb_li_homework_character" class="hidden border-t border-light-border w-full h-full px-2 py-3">
        <a href="/homework/character"
           class="font-hairline hover:font-extrabold mx-4 text-xl text-nav-item no-underline">
          캐릭숙제 세팅
          <span><i class="fa fa-angle-right float-right"></i></span>
        </a>
      </li>
    </ul>
  </li>
</ul>

</aside>
</html>
