<!doctype html>
<html lang="kor">

<head>
  <title>Error Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/all.css">
  <style>
  .login{
    background: url('/static/image/guild_logo.png')
  }
  </style>  
</head>

<body class="h-screen font-sans login bg-cover">
<div class="container mx-auto h-full flex flex-1 justify-center items-center">
  <div class="w-full max-w-lg">
    <div class="leading-loose">
      <div class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
        <p class="text-gray-800 font-medium text-center text-xl font-bold" th:text="${status} + '에러발생..ㅠㅠ'">
          에러 발생. .ㅠㅠ
        </p>
        <button class="px-20 py-1 text-white font-light tracking-wider bg-gray-900 rounded ml-24"
                onclick="location.href='/'">
          홈으로
        </button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
